# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
    - commit-message:
          include: "scope"
          prefix: "composer"
      directory: "/"
      package-ecosystem: "composer"
      schedule:
          interval: "daily"
      versioning-strategy: "widen"

    - commit-message:
          include: "scope"
          prefix: "github-actions"
      directory: "/"
      package-ecosystem: "github-actions"
      schedule:
          interval: "daily"
