{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "0.2.x"
        }
    },
    "minMsi": 62.5,
    "minCoveredMsi": 78.77
}
